*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{background: #000000;}
header{
     background: #00ff00;
     float: left;
     margin: 10px;
     padding: 10px;
     width: 940px;
}
header h1{
     background: #0000ff;
     color: #ff0000;
     text-align: center;
}
nav{
     background: #ff0000;
     float: left;
     margin: 10px;
     padding: 10px;
     width: 840px;
}
ul{list-style: none;}
i{
     color: #0000ff;
     cursor: pointer;
     float: left;
     padding: 10px;
}
i:hover{text-decoration: underline;}
a{text-decoration: none;}
.contenedor{
     background: #cccccc;
     margin: 10px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     width: 960px;
}
.tarjeta{margin: 20px;}
.tarjeta:hover figure{transform: perspective(600px) rotateY(180deg);}
.tarjeta a{display: inline-block;}
figure{
     height: 300px;
     margin: 0;
     position: relative;
     transform: perspective(600px) rotateY(0deg);
     transform-style: preserve-3d;
     transition: all ease .5s;
     width: 300px;
}
.frontal, .trasera{
     border-radius: 5px;
     height: 100%;
     transition: all ease;
     width: 100%;
}
.frontal{display: block;}
.trasera{
     background: #ffffff;
     backface-visibility: hidden;
     color: #ffffff;
     overflow: auto;
     padding: 20px;
     position: absolute;
     top: 0;
     transform: perspective(600px) rotateY(180deg);
}
.trasera h1{
     background: #cccccc;
     color: #000000;
     cursor: pointer;
     text-align: center;
}
.trasera p{
     color: #000000;
     text-align: justify;
}
img{
     height: 150px;
     width: 33.3%;
}
footer{background: transparent;}
footer p{
     color: #cccccc;
     cursor: pointer;
     text-align: center;
}